@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@font-face {
  font-family: Geograph;
  src: url('./assets/fonts/geograph/TestGeograph-Regular-BF6621def2687c9.otf');
}

body {
  margin: 0;
  font-family: 'Geograph';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #3a3a3a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}